/* Defining class names for each visual colorblidness type */
.protanopia {
  -webkit-filter: url('filters.svg#protanopia');
  filter: url('filters.svg#protanopia');
}

.protanomaly {
  -webkit-filter: url('filters.svg#protanomaly');
  filter: url('filters.svg#protanomaly');
}

.deuteranopia {
  -webkit-filter: url('filters.svg#deuteranopia');
  filter: url('filters.svg#deuteranopia');
}

.deuteranomaly {
  -webkit-filter: url('filters.svg#deuteranomaly');
  filter: url('filters.svg#deuteranomaly');
}

.tritanopia {
  -webkit-filter: url('filters.svg#tritanopia');
  filter: url('filters.svg#tritanopia');
}

.tritanomaly {
  -webkit-filter: url('filters.svg#tritanomaly');
  filter: url('filters.svg#tritanomaly');
}

.achromatopsia {
  -webkit-filter: url('filters.svg#achromatopsia');
  filter: url('filters.svg#achromatopsia');
}

.achromatomaly {
  -webkit-filter: url('filters.svg#achromatomaly');
  filter: url('filters.svg#achromatomaly');
}

body {
  margin: 0;
}

.menu-items, .images-container {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  flex-wrap: wrap;
}

.capitalize {
  text-transform: capitalize;
}

.menu-items {
  position: fixed;
  top: 0;
  margin-bottom: 2em;
  z-index: 1;
  background-color: white;
  width: 100%;
  padding-bottom: 0.5em;
}

.image-size {
  max-width: 300px;
  max-height: 200px;
  object-fit: cover;
}

.container-img-left {
  display: flex;
  align-items: center;
}

.category-container, .header-table-contents, header {
  width: 85%;
  margin: auto;
}

header {
  margin-top: 6em;
}

.table-contents {
  border: 5px solid #cc8686;
  padding: 0 1em;
  width: 10em;
  margin: auto;
}

li {
  margin: 1em 0;
}

.category-container {
  margin-top: 2em;
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 3em;
  justify-content: flex-start;
}


.container p, .container-right p, .container blockquote {
  margin-left: 1em;
  margin-right: 1em;
}

img {
  max-width: 25em;
}

figcaption {
  text-align: center;
  font-style: italic ;
}

.menu-item {
  padding: 1em;
  margin: 0.5em;
  background-color: #cc8686;
  color: black;
  border-radius: 3px;
}

.menu-items a {
  text-decoration: none;
}

a.active .menu-item {
  background-color: #f56b39;
  border: 2px solid black;
}


.media-link em {
   text-shadow: 0.05em 0 black, -0.05em 0 0 black,
    0 0.05em 0 black, 0 -0.05em 0 black,
    0.1em 0 0 black, -0.1em 0 0 black,
    0 0.1em 0 black, 0 -0.1em 0 black;
    color: black;
}

.menu-item:hover {
  background-color: #c94545;
}

.sub-item {
  padding: 5px 8px;
  border-radius: 3px;
  width: fit-content;
  margin: 18px 0;
}

.smaller-width {
  width: 75%;
}

.container-right {
  display: flex;
  align-items: center;
  margin-bottom: 3em;
  justify-content: flex-end;
}

.input-style-valid {
  padding: 10px 96px 5px 8px;
  border: solid 2px rgb(107, 179, 107);
  border-radius: 3px;
}

.input-style-invalid {
  padding: 10px 60px 5px 8px;
  border: solid 2px red;
  border-radius: 3px;
}

.red-dot {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.pink-dot {
  height: 25px;
  width: 25px;
  background-color: palevioletred;
  border-radius: 50%;
  display: inline-block;
}

.yellow-dot {
  height: 25px;
  width: 25px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}

.blue-dot {
  height: 25px;
  width: 25px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}

.purple-dot {
  height: 25px;
  width: 25px;
  background-color: purple;
  border-radius: 50%;
  display: inline-block;
}

.green-dot {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.black-dot {
  height: 6px;
  width: 6px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

span.label {
  padding-right: 23px;
}

.no-underline {
  text-decoration: none;
  color: purple;
}

.background-image {
  margin: auto;
  color: bisque;
  letter-spacing: 1em;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 4em;
  background-image: url('../assets/images/laptops.jpg');
}

.low-color-contrast {
  color: bisque;
  background-color: lightgoldenrodyellow;
}

.larger-padding {
  padding: 1em;
}

.italic {
  font-style: italic;
}

.color-picker-img {
  max-width: 300px;
}

.box-shadow {
  box-shadow: 1px 11px 22px -9px #b4b4b4;
  border-radius: 2px;
}

footer {
  padding: 1em 0 0.5em 0;
  display: flex;
  justify-content: space-evenly;
  color: black;
  background-color: #ffe6dd;
  border-radius: 3px;
  font-size: larger;
}

header, h1, h2, h3 {
  font-family: 'Lora', serif;
}

div, p, span, blockquote {
  font-family: 'Roboto';
}

a i {
  margin: 0 1em;
  color: black;
}

a:hover i, a:focus i {
  color: #f56b39;
  /* background-color: #f79673; */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 700px) {
  img {
    max-width: 200px;
    margin: auto;
    display: block;
  }

  header {
    margin-top: 15em;
  }

  .container, .container-right {
    display: block;
  }

  blockquote {
    display: contents;
    margin-left: 1em;
    margin-right: 1em;
  }

}
