
/* Defining class names for each visual colorblidness type */
.protanopia {
  -webkit-filter: url('filters.svg#protanopia');
  filter: url('filters.svg#protanopia');
}

.protanomaly {
  -webkit-filter: url('filters.svg#protanomaly');
  filter: url('filters.svg#protanomaly');
}

.deuteranopia {
  -webkit-filter: url('filters.svg#deuteranopia');
  filter: url('filters.svg#deuteranopia');
}

.deuteranomaly {
  -webkit-filter: url('filters.svg#deuteranomaly');
  filter: url('filters.svg#deuteranomaly');
}

.tritanopia {
  -webkit-filter: url('filters.svg#tritanopia');
  filter: url('filters.svg#tritanopia');
}

.tritanomaly {
  -webkit-filter: url('filters.svg#tritanomaly');
  filter: url('filters.svg#tritanomaly');
}

.achromatopsia {
  -webkit-filter: url('filters.svg#achromatopsia');
  filter: url('filters.svg#achromatopsia');
}

.achromatomaly {
  -webkit-filter: url('filters.svg#achromatomaly');
  filter: url('filters.svg#achromatomaly');
}

.menu-items {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  flex-wrap: wrap;
}

.container-img-left {
  display: flex;
  align-items: center;
}

.category-container, header, .menu-items {
  width: 85%;
  margin: auto;
}

.category-container {
  margin-top: 3em;
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}


.container p {
  margin-left: 1em;
  margin-right: 1em;
}

img {
  max-width: 25em;
}

figcaption {
  text-align: center;
  font-style: italic ;
}

.menu-item {
  padding: 1em;
  margin: 0.5em;
  background-color: #cc8686;
  color: black;
  border-radius: 3px;
}

a {
  text-decoration: none;
}

.menu-item:hover {
  background-color: #c94545;
}

