body {
  font-size: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  width: 250px;
  height: 100%;
  background-color: #fcf8f8;
  padding: 0 5px 5px 5px;
}

.headline {
  font-family: 'Lora';
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

img {
  width: 32px;
  height: 32px;
  padding-right: 10px;
}

.option {
  margin-bottom: 0.5em;
  padding-top: 0.3em ;
  padding-bottom: 0.3em;
}

.option:focus, .option:hover {
  background-color: rgb(211, 227, 240);
  border-radius: 2px;
}
