<footer>
  <div class="author">
    <span>Colorblindness Emulator | Agathe Badia</span>
  </div>
  <div class="social-media">
    <a href="https://github.com/Agathebadia" target="_blank" rel="noopener"
    aria-label="Agathe's github will open in a new window"><FaIcon class="fa-icon" @icon="github" /></a>
    <a href="https://www.linkedin.com/in/agathe-badia/" target="_blank" rel="noopener"
    aria-label="Agathe's linkedin will open in a new window"><FaIcon @icon="linkedin" class="fa-icon"  /></a>
    <a  href="https://twitter.com/Agathe_BADIA" target="_blank" rel="noopener"
    aria-label="Agathe's twitter will open in a new window"><FaIcon @icon="twitter" class="fa-icon"  /></a>
    <a  href="https://www.instagram.com/agathe.badia/" target="_blank" rel="noopener"
    aria-label="Agathe's instagram will open in a new window"><FaIcon @icon="instagram" class="fa-icon"  /></a>
  </div>
</footer>
