<footer>
  <div class="author">
    <span>By Agathe Badia</span>
  </div>
  <div class="social-media">
    <a href="https://github.com/Agathebadia" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/agathe-badia/" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://twitter.com/Agathe_BADIA" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/agathe.badia/" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
  </div>
</footer>
