<h2 id="resources">Resources</h2>

<h3>eBook</h3>
<ul>
    <li><a href="https://abookapart.com/products/color-accessibility-workflows" target="_blank" rel="noopener" aria-label="Color accessibility workflows. The link will open a new window"><em>Color
        Accessibility Workflows</em></a>, by Geri Coady</li>
    <li><a href="https://shop.smashingmagazine.com/products/inclusive-design-patterns" target="_blank" rel="noopener" aria-label="Inclusive Design Patterns. The link will open in a new window"><em>Inclusive Design Patterns</em></a>, by Heydon Pickering</li>
</ul>
  <h3>Definitions</h3>
  <ul>
    <li><a
        href="https://www.nei.nih.gov/learn-about-eye-health/eye-conditions-and-diseases/color-blindness/types-color-blindness"
        target="_blank" rel="noopener" aria-label="Types of Color blidness. The link will open a new window"><em>Types of Color Blindness</em></a>, by National Eye Institute (USA)</li>
    <li><a href="https://observablehq.com/@spattana/color-blind-simulator" target="_blank" rel="noopener" aria-label="Color simulation
        on colorblindness. The link will open a new window"><em>Color simulation
        on colorblindness</em></a>, by Sumant Pattanaik</li>
    <li><a href="http://www.achromatopsia.info/color-blindness/" target="_blank" rel="noopener" aria-label="Colorblindness and
          Achromatopsia. The link will open a new window"><em>Colorblindness and
          Achromatopsia</em></a>, by Low Vision Centers of Indiana</li>
    <li><a href="https://www.colourblindawareness.org/colour-blindness/" target="_blank" rel="noopener" aria-label="What is colorblindness?. The link will open a new window"><em>What is colorblindness?</em></a>, by Colorblind Awareness (NGO)</li>
    <li><a href="https://en.wikipedia.org/wiki/Color_blindness" target="_blank" rel="noopener" aria-label="Color blindness. The link will open a new window"><em>Color blindness</em></a>,
      Wikipedia</li>
    <li><a href="https://www.color-blindness.com/" target="_blank" rel="noopener" aria-label="Deuteranopia, Protanopia and
          Tritanopia. The link will open a new window"><em>Deuteranopia, Protanopia and
          Tritanopia</em></a>, by Colblindor</li>
    <li><a href="http://www.colorsontheweb.com/color-theory/color-contrast" target="_blank" rel="noopener" aria-label="Colors on the
        Web, Color Contrast. The link will open a new window"><em>Colors on the
        Web, Color Contrast</em></a>, by COTW</li>
</ul>
<h3>Best practices and recommendations</h3>
<ul>
  <li><a href="https://uxdesign.cc/color-blindness-in-user-interfaces-66c27331b858
  " target="_blank" rel="noopener" aria-label="Colorblindness in User Interfaces. The link will open a new window"><em>Colorblindness in User Interfaces</em></a>, by Ivan Tuchkov</li>
  <li><a href="https://axesslab.com/colorblind-accessibility-web-fail-success-cases/" target="_blank"
      rel="noopener" aria-label="Colorblind Accessibility on the Web – Fail and Success Cases. The link will open a new window"><em>Colorblind Accessibility on the Web – Fail and Success Cases</em></a>, by Hampus Sethfors</li>
  <li><a href="https://uxplanet.org/designing-ecommerce-for-colourblind-users-1ffd648c9f91" target="_blank"
      rel="noopener" aria-label="Designing eCommerce for colourblind users. The link will open a new window"><em>Designing eCommerce for colourblind users</em></a>, by CanvasFlip</li>
  <li><a href="https://www.g2.com/articles/color-contrast" target="_blank" rel="noopener" aria-label="Color Contrast: For the Sake of
      Aesthetic and Accessibility. The link will open a new window"><em>Color Contrast: For the Sake of
      Aesthetic and Accessibility</em></a>, by Daniella Alscher</li>
  <li><a href="https://www.smashingmagazine.com/2016/06/improving-color-accessibility-for-color-blind-users/" target="_blank" rel="noopener" aria-label="Improving The Color Accessibility For Color-Blind Users. The link will open a new window"><em>Improving The Color Accessibility For Color-Blind Users</em></a>, by Adam Silver</li>
  <li><a href="https://axesslab.com/top-color-contrast-checkers/" target="_blank" rel="noopener" aria-label="Best color contrast checkers and analyzers. The link will open a new window"><em>Best color contrast checkers and analyzers</em></a>, by Hampus Sethfors</li>
  <li><a href="http://optional.is/required/2011/06/20/accessible-color-swatches/" target="_blank" rel="noopener" aria-label="Accessible Color Swatch. The link will open a new window"><em>Accessible Color Swatch</em></a>, by Brian Suda</li>
</ul>
<h3>Extensions and applications</h3>
<ul>
  <li><a href="https://play.google.com/store/apps/details?id=fr.nghs.android.cbs.enhancer" target="_blank"
      rel="noopener" aria-label="Color Blindness Correction. The link will open a new window"><em>Color Blindness Correction</em></a>, Augmented Reality Application by NGHS</li>
  <li><a href="https://chrome.google.com/webstore/detail/colorblindly/floniaahmccleoclneebhhmnjgdfijgg/related"
      target="_blank" rel="noopener" aria-label="Colorblindly. The link will open a new window"><em>Colorblindly</em></a>, Chrome extension by oftheheadland</li>
    <li><a href="https://colorbrewer2.org/#type=sequential&scheme=BuGn&n=3" target="_blank" rel="noopener" aria-label="Color advice for Cartography. The link will open a new window"><em>Color advice for Cartography</em></a>, by Cynthia Brewer, Mark Harrower and The Pennsylvania State University</li>
    <li><a href="http://colororacle.org/" target="_blank" rel="noopener" aria-label="Color Oracle. The link will open a new window"><em>Color Oracle</em></a>, by Bernie Jenny and Nathaniel Vaughn Kelso</li>
</ul>
