<h2>Resources</h2>
<ul>
  <li><a href="https://uxdesign.cc/color-blindness-in-user-interfaces-66c27331b858
" target="_blank" rel="noopener"><em>Colorblindness in User Interfaces</em></a>, by Ivan Tuchkov</li>
  <li><a href="https://abookapart.com/products/color-accessibility-workflows" target="_blank" rel="noopener"><em>Color Accessibility Workflows</em></a>, by Geri Coady</li>
  <li><a href="https://axesslab.com/colorblind-accessibility-web-fail-success-cases/" target="_blank" rel="noopener"><em>Colorblind Accessibility on the Web – Fail and Success Cases</em></a>, by Hampus Sethfors</li>
  <li><a href="https://www.nei.nih.gov/learn-about-eye-health/eye-conditions-and-diseases/color-blindness/types-color-blindness" target="_blank" rel="noopener"><em>Types of Color Blindness</em></a>, by National Eye Institute (USA)</li>
  <li><a href="https://play.google.com/store/apps/details?id=fr.nghs.android.cbs.enhancer" target="_blank" rel="noopener"><em>Color Blindness Correction</em></a>, Augmented Reality Application by NGHS</li>
  <li><a href="http://www.achromatopsia.info/color-blindness/" target="_blank" rel="noopener"><em>Colorblindess and Achromatopsia</em></a>, by Low Vision Centers of Indiana</li>
  <li><a href="https://en.wikipedia.org/wiki/Color_blindness" target="_blank" rel="noopener"><em>Color blindness</em></a>, Wikipedia</li>
  <li><a href="https://www.color-blindness.com/" target="_blank" rel="noopener"><em>Deuteranopia, Protanopia and Tritanopia</em></a>, by Colblindor</li>
  <li><a href="https://chrome.google.com/webstore/detail/colorblindly/floniaahmccleoclneebhhmnjgdfijgg/related" target="_blank" rel="noopener"><em>Colorblindly</em></a>, Chrome extension by oftheheadland</li>
  <li><a href="https://observablehq.com/@spattana/color-blind-simulator" target="_blank" rel="noopener">Color simulation on colorblindness</a>, by Sumant Pattanaik</li>
</ul>
