<header>
  <h1>Color Blindness Emulator</h1>

  <p>Emulate color blindness with SVG filter, and apply via CSS.</p>
</header>

<Category />

<section>
  <h1>Normal</h1>
  <p style="color: red;">This is a test, the original color of this text is red</p>
  <p><img src="test.jpg" width="100"></p>
</section>

<section class="protanopia">
  <h1>Protanopia</h1>
  <p style="color: red;">This is a test, the original color of this text is red</p>
  <p><img src="test.jpg" width="100"></p>
</section>

<section class="protanomaly">
  <h1>Protanomaly</h1>
  <p style="color: red;">This is a test, the original color of this text is red</p>
  <p><img src="test.jpg" width="100"></p>
</section>

<section class="deuteranopia">
  <h1>Deuteranopia</h1>
  <p style="color: red;">This is a test, the original color of this text is red</p>
  <p><img src="test.jpg" width="100"></p>
</section>

<section class="deuteranomaly">
  <h1>Deuteranomaly</h1>
  <p style="color: red;">This is a test, the original color of this text is red</p>
  <p><img src="test.jpg" width="100"></p>
</section>

<section class="tritanopia">
  <h1>Tritanopia</h1>
  <p style="color: red;">This is a test, the original color of this text is red</p>
  <p><img src="test.jpg" width="100"></p>
</section>

<section class="tritanomaly">
  <h1>Tritanomaly</h1>
  <p style="color: red;">This is a test, the original color of this text is red</p>
  <p><img src="test.jpg" width="100"></p>
</section>

<section class="achromatopsia">
  <h1>Achromatopsia</h1>
  <p style="color: red;">This is a test, the original color of this text is red</p>
  <p><img src="test.jpg" width="100"></p>
</section>

<section class="achromatomaly">
  <h1>Achromatomaly</h1>
  <p style="color: red;">This is a test, the original color of this text is red</p>
  <p><img src="test.jpg" width="100"></p>
</section>
